* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #e11d74;
  --secondary: #7c3aed;
  --light: #ffffff;
  --dark: #000000;
  --red: #ff0000;
  --gray: #c0c0c0;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.title img {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
}

.title h2 {
  background: linear-gradient(to right, var(--primary), var(--secondary));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.side-bar {
  grid-column: 1/2;
  height: 100vh;
  border: 1px solid var(--gray);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  overflow: scroll;
}

aside div {
  margin-top: 1rem;
  font-size: 0.9rem;
}

aside button {
  background-color: var(--secondary);
  color: var(--light);
  border-radius: 10px;
  padding: 0.6rem 6rem;
  border: none;
  cursor: pointer;
}

aside button:hover {
  opacity: 0.9;
}

aside button:active {
  opacity: 0.7;
}
.salle {
  grid-column: 2/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
  padding: 2rem;
  background: linear-gradient(to bottom, #bde0fe, #003366);
  height: calc(100vh - 5rem);
  overflow-y: auto;
  overflow-x: hidden;
}

.rooms {
  border-radius: 15px;
  background-color: var(--light);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--primary);
  transition: 0.7s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
  max-height: 13rem;
  overflow-y: scroll;
  transition: 1s;
  /* opacity: 0.6; */
}

.rooms:hover {
  transform: scale(1.05);
}

.rooms::-webkit-scrollbar {
  width: 0;
}

#room1 {
  background-image: url(assets/3198cd683595461f85e968e6d3cc7d09.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#room2 {
  background-image: url(assets/7e18a84af64076ef25703629de256ce6.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#room3 {
  background-image: url(assets/b2c33ba31c2965ff1c382d1115785260.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#room4 {
  background-image: url(assets/d0730196ea313a2f4990dd884582439a.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#room5 {
  background-image: url(assets/c.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#room6 {
  background-image: url(assets/b.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.plus {
  padding: 6px 10px;
  border-radius: 50%;
  background-color: green;
  border: none;
  color: var(--light);
  transition: 1s;
}

.plus:hover {
  transform: scale(1.1);
}

.plusList {
  position: absolute;
  width: 15rem;
  padding: 10px 14px;
  font-size: small;
  border: 1px solid var(--secondary);
  border-radius: 8px;
  background-color: var(--light);
  left: 53%;
  bottom: 30%;
}

.remove {
  border-radius: 50%;
  background-color: var(--red);
  border: none;
  color: var(--light);
  transition: 1s;
  height: 30px;
  width: 30px;
}

.addList {
  position: absolute;
  width: 400px;
  background-color: var(--light);
  left: 48%;
  bottom: 40%;
  height: max-content;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid var(--primary);
  display: none;
}
.nothing {
  width: 85%;
  height: 7rem;
  border: 2px dashed var(--red);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  background-color: #ffe4e1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.salle p {
  font-size: small;
  margin-bottom: 8px;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 35rem;
  padding: 35px;
  background-color: var(--light);
  border: 1px solid var(--primary);
  border-radius: 12px;
  position: absolute;
  left: 32rem;
  bottom: 5rem;
  max-height: 500px;
  overflow-y: auto;
  z-index: 100;
  display: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.form label {
  font-size: medium;
  margin-top: 8px;
  margin-bottom: 6px;
  color: var(--dark);
}

.form input {
  width: 90%;
  padding: 10px 14px;
  font-size: small;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: var(--light);
}

.role {
  width: 100%;
  padding: 10px 14px;
  font-size: small;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: var(--light);
}

.role:focus {
  border: 2px solid var(--secondary);
}

.form button {
  width: 100%;
  margin-top: 18px;
  padding: 10px 14px;
  background-color: var(--secondary);
  border: none;
  border-radius: 10px;
  color: var(--light);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.form button:hover {
  opacity: 0.9;
}

.form button:active {
  opacity: 0.5;
}

.details {
  display: none;
}

.modal-content {
  background-color: var(--light);
  width: 100%;
  width: 400px;
  margin: 20px auto;
  padding: 40px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  position: absolute;
  left: 32rem;
  display: none;
}

.profile-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--light);
  margin-bottom: 15px;
}

.highlight-text {
  margin: 0;
  font-size: 16px;
  color: #666;
  font-weight: 400;
}

.info-row {
  margin-bottom: 12px;
  font-size: 14px;
}

.value {
  color: var(--dark);
  font-weight: 400;
  text-align: right;
}

.close-btn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: var(--secondary);
  color: var(--light);
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.close-btn:hover {
  opacity: 0.8;
}

.worker-card {
  display: flex;
  align-items: center;
  gap: 12px;
  background: var(--light);
  border: 1px solid var(--gray);
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease;
}

.worker-remove-btn {
 border: none;
  background-color: var(--red);
  color: var(--light);
  font-size: 16px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 50%;
  cursor: pointer;
}

.remove-Btn {
  border: none;
  background-color: var(--red);
  color: var(--light);
  font-size: 16px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 50%;
  cursor: pointer;
}

.worker-photo {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.worker-info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.assign-card {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--light);
  border: 1px solid var(--light);
  padding: 6px 10px;
  border-radius: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.assign-card-photo {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
}

.assign-card-name {
  font-size: 13px;
  color: #333;
}


/* mini desktop */

@media screen and (min-width: 1023px) and (max-width: 1279px) {
  aside button {
    padding: 0.6rem 3rem;
  }
  body {
    overflow: scroll;
  }
}

/* tablet */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    overflow: scroll;
  }
  .container {
    display: flex;
    flex-direction: column;
  }

  .side-bar {
    width: 100%;
    height: max-content;
    padding: 1rem;
    border-right: none;
    border-bottom: 1px solid var(--gray);
  }

  .salle {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
    padding: 2rem;
    height: max-content;
  }

  .rooms {
    width: 22rem;
  }

  .form {
    width: 25rem;
    padding: 35px;
    left: 20rem;
    bottom: 0.5rem;
  }

  .form label {
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 5px;
  }

  .form input {
    padding: 8px 12px;
  }

  .form button {
    padding: 8px 10px;
    font-size: 13px;
  }

  .addList {
    position: absolute;
    left: 15rem;
    bottom: 1rem;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .modal-content {
    left: 15rem;
    bottom: -10rem;
  }
}

/*  mobil */

@media screen and (max-width: 768px) {
  body {
    overflow: scroll;
  }
  .container {
    display: flex;
    flex-direction: column;
  }

  .side-bar {
    width: 100%;
    height: max-content;
    padding: 1rem;
    border-right: none;
    border-bottom: 1px solid var(--gray);
  }

  .title img {
    height: 6rem;
    width: 6rem;
  }

  .title h2 {
    font-size: medium;
  }
  aside h5 {
    margin-top: 1rem;
    font-size: x-small;
  }

  .form {
    width: 19rem;
    left: 3rem;
    bottom: 1rem;
  }

  .form label {
    font-weight: 150;
  }

  .form input {
    padding: 6px 10px;
  }

  .form button {
    padding: 6px 10px;
    font-size: 12px;
  }

  .rooms {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 18rem;
  }

  .addList {
    position: absolute;
    left: 9rem;
    bottom: 1rem;
    width: 15rem;
    height: max-content;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .modal-content {
    width: 300px;
    left: 4rem;
    bottom: -12rem;
  }
}
