* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #e11d74;
  --secondary: #7c3aed;
  --light: #ffffff;
  --dark: #000000;
  --red: #ff0000;
  --gray: #c0c0c0;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  border: 1px solid var(--gray);
  overflow: hidden;
}

.title img {
  height: 12rem;
  width: 12rem;
}

.title h2 {
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-image: linear-gradient(to bottom, #ddd6fe, #FFFFFF);
}

.side-bar {
  grid-column: 1/2;
  height: 100vh;
  border: 1px solid var(--gray);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

aside h3 {
  margin-top: 1rem;
}

aside button {
  background-color: var(--secondary);
  color: var(--light);
  border-radius: 10px;
  padding: 0.6rem 6rem;
  border: none;
  cursor: pointer;
}

aside button:hover {
  opacity: 0.9;
}

aside button:active {
  opacity: 0.7;
}

.salle {
  grid-column: 2/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.8rem;
  padding: 2rem;
}

.salle1 {
  border-radius: 15px;
  background-color: var(--light);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 1px solid var(--primary);
  transition: 0.7s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
}



.select {
  width: 80%;
  padding: 5px;
  border: 2px solid #e5e7eb;
  border-radius: 12px;
  background: #fff;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  font-size: small;
}

.nothing{
    width: 70%;
    height: 7rem;
    border: 2px dashed var(--red);
}

.salle p {
  font-size: small;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  padding: 35px;
  background-color: var(--light);
  border: 1px solid var(--primary);
  border-radius: 12px;
  display: none;
  position: absolute;
  left: 31rem;
}

.form label {
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 6px;
  color: var(--dark);
}

.form input {
  width: 100%;
  padding: 10px 14px;
  font-size: small;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: var(--light);
}

.form button {
  width: 100%;
  margin-top: 18px;
  padding: 10px 14px;
  background-color: var(--secondary);
  border: none;
  border-radius: 10px;
  color: var(--light);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.form button:hover {
  opacity: 0.9;
}

.form button:active {
  opacity: 0.5;
}
